* {
    margin: 0;
    padding: 0;
    --dark-bg: #1F2937;
    --button: #3882F6;
    --text: #E5E7EB;
}

html {
    box-sizing: border-box;
}

div {
    border-style: solid;
}

nav {
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: right;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: var(--text);
    padding: 24px;
    transition: 0.25s;
}

nav a:hover {
    background-color: var(--button);
    color: black;
}

.push-left {
    font-size: 24px;
    color: #F9FAF8;
    padding: 1rem;
    margin-right: auto;
}


.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color: 
}
